@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:wght@300;400&family=Playfair:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:wght@300;400&family=Playfair:ital,wght@1,300&family=Raleway:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.div-filter {
    background-color: #cbe0fc;
    padding: 10px 0 10px 0;
}

.button-class {
    margin-left: 20px;
}

.clear-filters-btn {
    background-color: initial;
    border: none;
    color: var(--dark-shade-color);
    font-weight: 600;
    padding: 5px;
}

.canvas-drop {
    position: relative;
    top: 100px;
}

.thumbnail {
    width: 100%;
}

.product-container {
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 16rem;

}

.wishlist-heart {
    background: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.4rem 0.6rem;
    position: absolute;
    right: 1%;
    top: 1%;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 1;
}

.product-image-container,
.product-image-container-out-of-stock {
    border-radius: 0.5rem;
    cursor: pointer;
    height: 18rem;
    overflow: hidden;
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
}

.product-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    object-fit: cover;
    transition: opacity .5s ease-in-out;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem 0;
}

.title-rating {
    display: flex;
    justify-content: space-between;
}

.title-rating h3 {
    cursor: pointer;
    font-size: .85rem;
    letter-spacing: .04em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    white-space: nowrap;
    width: 75%;
}

.rating-star-high,
.rating-star-low {
    align-items: center;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    font-size: 10px;
    font-weight: 600;
    gap: 1px;
    padding: 1px 5px;
}

.rating-star-high {
    background-color: green;
}

.price-info {
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    gap: 1rem;
}

.discounted-price,
.price-tag {
    letter-spacing: .04em;
}

.price-tag {
    color: #7685ab;
    text-decoration: line-through;
}

.add-to-cart-btn,
.go-to-cart-btn {
    color: var(--secondary-color);
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    padding: 5px 0;
    text-transform: capitalize;
}


.add-to-cart-btn {
    background-color: #1f4e69 var(--dark-shade-color);
    border: 1px solid #1f4e69;
    border-radius: 5px;
}


element.style {}

.add-to-cart-btn,
.go-to-cart-btn {
    color: var(--secondary-color);
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    padding: 5px 0;
    text-transform: capitalize;
}

.add-to-cart-btn {
    background-color: #1f4e69;
    border: 1px solid #1f4e69;
    border-radius: 5px;
    color: white;
}

button,
input[type=checkbox],
input[type=radio],
input[type=range] {
    cursor: pointer;
    font-family: Shantell Sans, cursive;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    /* display: none; */
    position: absolute;
    top: 66px;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1a7a1ce-MuiPaper-root-MuiAppBar-root {
    position: absolute;
    top: 64px;
}

.css-96uuyl {
    position: relative;
    left: 60px;
}

@media only screen and (max-width: 600px) {
    .css-96uuyl {
        position: relative;
        left: 1px;
    }
}

.category {
    text-decoration: 1px solid underline black;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.color11 {
    color: green;
}

.cart3 {
    margin: 30px 0 30px 0;
    color: #1f4e69;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.cart-listing {
    border-radius: 1rem;
    box-shadow: 0 54px 55px rgba(0, 0, 0, .25), 0 -12px 30px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12), 0 12px 13px rgba(0, 0, 0, .17), 0 -3px 5px rgba(0, 0, 0, .09);
}

.cart-product-container {
    grid-gap: 0.5rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 7rem auto;
    padding: 0.2rem;
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
}

.cart-product-image-container {
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    /* padding: 20px; */
}

.image-cart {
    width: 112px;
    height: 177px;
    object-fit: cover;
}

.product-name {
    /* text-transform: capitalize; */
}

p::first-letter {

    text-transform: uppercase;
}

.cart-product-info,
.cart-title-rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart-discounted-price,
.cart-price-tag {
    letter-spacing: .04em;
}

.cart-price-tag {
    color: #7685ab;
    text-decoration: line-through;
}

.discount {
    display: inline-block;
}

.mrp {
    position: relative;
    left: 8px;
}

.btn-set {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.cart-inc-dec-btn {
    background-color: #1f4e69;
    border: 1px solid var(--dark-shade-color);
    border-radius: 0.3rem;
    color: var(--secondary-color);
    font-size: .8rem;
    font-weight: 600;
    height: 1.6rem;
    justify-content: center;
    width: 1.8rem;
    color: #7685ab;
}

.cart-delete-btn {
    background-color: #B91C1c;
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid var(--red-shade-700);
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-transform: capitalize;
}

.apply {
    width: 100%;
}